<section>
    <article>
        <h3>We Are Proud</h3>
        <h4>Students & Alumni of Brandeis University</h4>
        <p>The Brandeis Students and Alumni Association is a community of 10,000+ students and alumnni. The
            association's mission is to help students and alumni connect among each other and to help foster a
            community at Brandeis.
        </p>
    </article>
</section>
<section>
    <article>
        <img src="/images/about.jpg" alt="Students Organizing Events" />
    </article>
</section>