<section>
  <article>
    <h3>We Are Proud</h3>
    <h4>Students & Alumni of Brandeis University</h4>
    <p>The Brandeis Students and Alumni Association is a vibrant community that offers lifelong opportunities
      for
      students and alumni to stay connected to Brandeis and each other.
    </p>
  </article>
</section>
<section>
  <article>
    <img src="/images/home.jpg" alt="Students and Alumni in Conference" />
  </article>
</section>