<div class="data-form">

  <form action="/users/create" method="POST">
    <label for="inputName">Name</label>
    <input type="text" name="name" id="inputName" placeholder="Name" required />
    <label for="inputGraduationYear">Email</label>
    <input type="text" name="email" id="inputGraduationYear" placeholder="Email" required />
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" placeholder="Password" required />
    <label for="inputRole">Role</label>
    <input type="text" name="role" id="inputRole" placeholder="Role" required />
    <label for="inputGraduationYear">Graduation Year</label>
    <input type="number" name="graduationYear" id="inputGraduationYear" placeholder="Graduation Year" required />
    <label for="inputMajor">Major</label>
    <input type="text" name="major" id="inputMajor" placeholder="Major" required />
    <label for="inputJob">Job</label>
    <input type="text" name="job" id="inputJob" placeholder="Job" />
    <label for="inputCompany">Company</label>
    <input type="text" name="company" id="inputCompany" placeholder="Company" />
    <label for="inputCity">City</label>
    <input type="text" name="city" id="inputCity" placeholder="City" />
    <label for="inputCountry">Country</label>
    <input type="text" name="country" id="inputCountry" placeholder="Country" />
    <label for="inputZipCode">Zip Code</label>
    <input type="text" name="zipCode" id="inputZipCode" pattern="\d*" placeholder="Zip Code" required />
    <label for="inputBio">Bio</label>
    <input type="text" name="bio" id="inputBio" placeholder="Bio" />
    <label for="inputIsAdmin">Is Admin</label>
    <input type="checkbox" name="isAdmin" id="inputIsAdmin" placeholder="IsAdmin" />

    <button type="submit">Create</button>


  </form>
</div>